@model SchoolMISDayLog.Models.Component
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if (ViewBag.message != null)
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}
@using (Html.BeginForm("Create", "Component", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ModuleId, "Module", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.ModuleId, ViewBag.Modules as SelectList, "Select Module", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ModuleId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DeveloperId,"Developer", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.DeveloperId,ViewBag.Developers as SelectList,"Select Developer name", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DeveloperId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ComponentName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.ComponentName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComponentName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Status)
        </div>
    </div>

    
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>

    </div>
}


