@using SchoolMISDayLog.Models
@model  IEnumerable<SchoolMISDayLog.Models.Component>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Create")" class="btn btn-info">Add new Here</a>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('[data-action=Delete]').click(function () {

                if (confirm("Are you sure you want to delete this")) {
                    $.post('@Url.Action("Delete")' + '?id=' + $(this).attr('data-id'), function (resp) {
                        if (resp.Issuccess === true) {
                            window.location = window.location;
                        }
                        else {
                            alert("error");
                        }
                    });
                }
            });

        });
</script>
    }
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Component-Name
                </th>
                <th>Developer</th>
                <th>Module</th>
                <th>Status</th>
                <th>Editaction</th>
                <th>Deleteaction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.ComponentName</td>
                   
                    
                    <td>@(c.Developer!=null?c.Developer.DeveloperName:"")</td>
                    <td>@(c.Module != null ? c.Module.ModuleName : "")</td>
                    <td>@c.Status</td>
                    <td>@Html.ActionLink("Edit","Edit",new { id = c.ComponentId })</td>
                    <td><a data-action="Delete" data-id="@c.ComponentId">Delete</a></td>
                    
                </tr>

            }
        </tbody>
    </table>
</div>