@model SchoolMISDayLog.Models.ControllerDetail


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "ControllerDetails", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(cd=>cd.ComponentId,"Component",new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
        @Html.DropDownListFor(cd => cd.ComponentId, ViewBag.Components as SelectList,"Select component",new { @class = "form-control" })
        @Html.ValidationMessageFor(cd=>cd.ComponentId)
    </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(cd => cd.ControllerName, new { @class="col-md-3 control-label"})
            <div class="col-md-9">
                @Html.TextBoxFor(cd=>cd.ControllerName,new {@class="form-control"})
                @Html.ValidationMessageFor(cd=>cd.ControllerName)
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>

            </div>

            }

