@using SchoolMISDayLog.Models;
@model List<SchoolMISDayLog.Models.Service>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("Create")" class="btn btn-info">Add New Service info here</a>
@section scripts{
   
    <script type="text/javascript">
        $(function () {
            $('[data-action=Delete]').click(function () {

                if (confirm("Are you sure you want to delete this")) {
                    $.post('@Url.Action("Delete")' + '?id=' + $(this).attr('data-id'), function (resp) {
                        if (resp.Issuccess === true) {
                            window.location = window.location;
                        }
                        else {
                            alert("error");
                        }
                    });
                }
            });

        });
    </script>
    }
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Service
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Service s in Model)
            {
                <tr>
                    <td>@s.ServiceName</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = s.ServiceId })</td>
                    <td><a data-action="Delete" data-id="@s.ServiceId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
