@model SchoolMISDayLog.Models.Developer
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>please edit your Developer's Details</h3><hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DeveloperId)
        <div class="form-group">
            @Html.LabelFor(model => model.DeveloperName, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.DeveloperName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeveloperName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-2 col-md-9">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>

        </div>
    </div>


}

