@{
    ViewBag.Title = "Home Page";
}

   
    <p class="lead">Welcome to SchoolMIS Project </p>
   


<div class="row">
    <div class="col-md-4">
        <h2></h2>
       
        
    </div>
   

</div>
<div class="container">
    <nav id="menu" class="nav">
        <ul>
           
            <li>
                <a href="@Url.Action("Index","Component")" title="Component"><span class="icon"> <i aria-hidden="true" class="icon-services"></i></span><span>Component</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","ControllerDetails")" title="ControllerDetail"><span class="icon"><i aria-hidden="true" class="icon-portfolio"></i></span><span>Controller-Detail</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","Developer")" title="Developer"><span class="icon"><i aria-hidden="true" class="icon-blog"></i></span><span>Developer</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","Module")" title="Module"><span class="icon"><i aria-hidden="true" class="icon-blog"></i></span><span>Module</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","Service")" title="Service"><span class="icon"><i aria-hidden="true" class="icon-team"></i></span><span>Service</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","User")" title="User"><span class="icon"><i aria-hidden="true" class="icon-contact"></i></span><span>User</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","DailyDeveloperTaskLog")" title="Task-Log"><span class="icon"><i aria-hidden="true" class="icon-contact"></i></span><span>Task-Log</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index","FinalReportLog")" title="FinalReportLog"><span class="icon"> <i aria-hidden="true" class="icon-services"></i></span><span>Final-Report</span></a>
            </li>
        </ul>
        </nav>
</div><!--end container-->